extends layout

block content 
    .container 
        .row.justify-content-center 
            .col-md-6 
                h2.text-center Menú principal 
                p Bienbenido al Menú principal
                .btn-group-vertical 
                    a.btn.btn-primary.btn-block(href="/clientes") Clientes
                    a.btn.btn-primary.btn-block(href="/mensajero") Mensajeros 
                    a.btn.btn-primary.btn-block(href="/servicios") Service 